h1{
    color: rgb(246, 244, 245);
    position: absolute;
    left: 40%;
}

body{
    background-image: url("assets/Pinkaurawallpaper.jpg");
}
#pic img{
    height: 300px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 35%;
}

h2{
    color: white;
    position: absolute;
    top: 68%;
    left: 41%;
}